section#content {
    display: flex;
}

/*-----RIGHT CONTENT-----*/
div#contentRight {
    display: flex;
    width: 40%;
    height: 100vh;
    background-color: var(--Light-Silver);
    flex-direction: column;
    align-items: center;
}
#contentRight>.switch>.rightSwitchText {
    transform: translateX(20px);
}
#contentRight>.switch>.leftSwitchText {
    transform: translateX(-60px);
}
#contentRight>.switch>.slider {
    background-color: var(--Black-Olive);
}
#panierWrap, #commandesWrap {
    width: 100%;
    margin-top: 70px;
}
.produitPanier, .commande {
    display: flex;
    transition: 0.3s ease-in-out;
    background: var(--Gray);
    padding: 15px 20px;
    border-radius: 15px;
    margin: 20px 40px;
    align-items: center;
    justify-content: space-between;
}
.produit>div {
    display: flex;
    align-items: center;
}
.produit>div>a:last-child {
    margin-left: 20px;
}
.produitPanier:hover, .commande:hover {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.5);
}
.produitPanier>div {
    display: flex;
    align-items: center;
}
.produitPanier>div>input[type="number"] {
    border-radius: 5px;
    padding: 5px;
    margin: 0px 15px;
}
.produitPanier>div>a>svg {
    fill: var(--Black-Olive);
}
.produitPanier>div>a>svg:hover {
    fill: var(--Vivid-Auburn);
}
.commande {
    opacity: 0;
}
#commandesWrap {
    display: none;
}
#totalCount {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 40%;
    background-color: var(--Gray);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#totalCount>div>a {
    font-size: 30px;
    font-weight: 600;
    color: white;
}
#totalCount>div>a:last-child {
    color: var(--Lime-Green);
}
#btnCommander {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: var(--Lime-Green);
    border-radius: 15px;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    opacity: 0.8;
}
#btnCommander:hover {
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
}

/*-----LEFT CONTENT-----*/
div#contentLeft {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
#headerLeft {
    transition: 0.4s ease-in-out;
    width: 50%;
    height: 100px;
    opacity: 0.45;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 35px 35px;
}
#produitsWrap, #carburantsWrap {
    width: 100%;
    margin-top: 70px;
}
.produit, .carburant {
    display: flex;
    transition: 0.3s ease-in-out;
    background: var(--Light-Silver);
    padding: 15px 20px;
    border-radius: 15px;
    margin: 20px 40px;
    justify-content: space-between;
    align-items: center;
}
.produit:hover, .carburant:hover {
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.5);
}
.produit>div>a>svg {
    fill: var(--Black-Olive);
}
.produit>div>a>svg:hover {
    fill: var(--Forest-Green);
}
.carburant {
    opacity: 0;
}
#carburantsWrap {
    display: none;
}


/*-----TOGGLE SWITCH-----*/
.switch {
    display: flex;
    position: absolute;
    z-index: 99;
    width: 60px;
    height: 34px;
    margin: 30px 0px;
    align-items: center;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Light-Silver);
    transition: .3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--Light-Silver);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
a.leftSwitchText {
    transform: translateX(-70px);
}