section#content {
    display: flex;
}

/*-----RIGHT CONTENT-----*/
div#contentRight {
    display: flex;
    width: 40%;
    height: 100vh;
    background-color: var(--Light-Silver);
}


/*-----LEFT CONTENT-----*/
div#contentLeft {
    width: 60%;
    height: 100vh;
    display: flex;
}