section#content {
    display: flex;
}

/*-----RIGHT CONTENT-----*/
div#contentRight {
    display: flex;
    width: 40%;
    height: 100vh;
    background-color: var(--Light-Silver);
}


/*-----LEFT CONTENT-----*/
div#contentLeft {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


/*-----TOGGLE SWITCH-----*/

.switch {
    display: flex;
    position: relative;
    width: 60px;
    height: 34px;
    margin-top: 30px;
    align-items: center;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Light-Silver);
    transition: .3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--Light-Silver);
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
a.leftSwitchText {
    transform: translateX(-70px);
}